{:paths
 ["src/tasks"]

 :tasks
 {:requires
  ([babashka.fs :as fs])

  assemble
  (when (seq (fs/modified-since "target/artifacts/application.jar"
               (into (fs/glob "src" "**.clj") (fs/glob "." "deps.edn"))))
    (println "Building jar...")
    (clojure "-X:assemble"))

  deploy
  {:depends [assemble]
   :task    (shell "gcloud --project pathomdemos functions deploy --region southamerica-east1 --runtime java11 --source target/artifacts/ --max-instances 1 development-pathom-server-demo --trigger-http --allow-unauthenticated --entry-point PathomServer --memory 2GB --timeout 270")}

  run
  (clojure {:extra-env {"PORT" "13337"}} "-X:run")}}

